html, body {
    padding: 0; margin: 0;

    display: flex; flex-direction: column-reverse;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* Les fonts */

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.ttf');
}

/*  */